<!DOCTYPE html>
<html>
  <head>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <title>Home</title>
  </head>
  <body>

    <div class="toolbar">
     <ul>
      <li><a href="{{ url_for('hello') }}">Home</a></li>
      <li><a href="{{ url_for('startQuiz') }}">Quiz</a></li>
      <li><a href="https://coppermind.net/wiki/Coppermind:Welcome">Wiki</li>
     </ul>
    </div>

    <h1>The Cosmere Quiz</h1>
    <img src="{{ url_for('static', filename='img/cosmere_symbol.svg') }}" 
         alt="Cosmere symbol"
         style="display: block; margin: 0 auto; width: 150px; height: 150px;">
    <h2>Introduction</h2>
    <p>Welcome to the Cosmere Quiz, On this site you will be challenged in you knowledge 
       of the Cosmere Saga and the individual series within it, you can also find out more
       about its author as well as links to the coppermind wikipedia.</p>
  </body>
</html>
