<!DOCTYPE html>
<html>
<head>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <title>Quiz</title>
</head>
<body>
    <div class="toolbar">
        <ul>
            <li><a href="{{ url_for('hello') }}">Home</a></li>
            <li><a href="{{ url_for('quiz') }}">Quiz</a></li>
        </ul>
    </div>
    <div class="quiz-container">
        <h1>The Cosmere Quiz</h1>
        <h2>Question {{ number }}:</h2>
        <p>{{ text }}</p>
        <ul>
            {% for answer in answers %}
            <li><a href="/quiz/?answer={{ loop.index }}">{{ answer }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
